.title{
  font-weight: bold;
  color: rgb(96,96,96);
  font-family: Arial;
  font-size: 50px;
}

.text{
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    body{
        background: linear-gradient
    }

  .content {
      position:absolute;
      top: 20px;
      color: white;
  }

  .link{
    font-size: 20px;
    color: yellow;
  }

  .down:hover{
    text-decoration: underline;
    cursor: pointer;
  }

          /* Style for the gallery */
          div.gallery {
      border: 1px solid #ccc;
  }
  div.gallery:hover {
      border: 1px solid yellow;
  }
  div.gallery img {
      width: 100%;
      height: auto;
  }
  div.desc {
      padding: 15px;
      text-align: center;
  }
  * {
      box-sizing: border-box;
  }
  .responsive {
      padding: 0 6px;
      float: left;
      width: 24.99999%;
      display:inline-block;
      margin-bottom: 10px;
  }
  @media only screen and (max-width: 700px) {
      .responsive {
          width: 49.99999%;
          margin: 6px 0;
      }
  }
  @media only screen and (max-width: 500px) {
      .responsive {
          width: 100%;
      }
  }
  .clearfix:after {
      content: "";
      display: table;
      clear: both;
  }