.img{
  padding-left:500px;
  border-start-end-radius: 20px;
}

body{
  background: linear-gradient(-45deg, black, yellow, lightgreen, pink);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0%{
    background-position : 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
}

.hub{
  text-align:center;
  font-size:40px;
  font-style:bold;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.html{
  text-align:center;
  font-family:'Courier New', Courier, monospace;
}

.Description{
  text-align:center;
}

.des{
  text-align:center;
  font-size:30px;
}

.example{
  text-align: center;
  font-style:bold;
  font-size:20px;
  font-family:arial;
  color:blueviolet;
}

.audio{
  margin-left:500px;
}

.link1{
  text-align:center;
  font-weight:bold;
}

.vid1{
  margin-left:500px;
}

.email{
  text-align: center;
  color:brown;
  font-size:30px;
}

.baanbil{
  text-align: right;
  font-size:20px;
  color:blue;
}